<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCK4OIOt_KCD4XWgkDRL9zPh26ATG_YRyw</string>
	<key>GCM_SENDER_ID</key>
	<string>77888190743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucacify.lucacify</string>
	<key>PROJECT_ID</key>
	<string>lucacify-60f0d</string>
	<key>STORAGE_BUCKET</key>
	<string>lucacify-60f0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77888190743:ios:50daefdc6168a48f571f52</string>
</dict>
</plist>